<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" conent="width=device-width" />
    <title>Bethany's Pie Shop</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
